h1 {
    padding-top: 100px;
    text-align: center;
}

#formButton {
    text-align: center;
}
#postButton {
    padding-left: 50px;
    padding-right: 50px;
}
#dateP {
    position: relative;
    color: grey;
    float: right;
    font-size: small;
}
#unameP {
    position: relative;
    float: left;
}
.responseAlert {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 99 !important;
}

.loginForm {
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid grey;
    border-radius: 12px;
    padding: 5px;

}

#register {
    display: none;
}

#mainPage {
    display: none;
}

.container-fluid {
    padding-top: 50px;
}

  
#buttons {
    position: fixed;
    text-align: center;
}

#left {
    border-right-style: solid;
    border-color: grey;
    display: flex;
    justify-content: flex-end;
}

#right {
    border-left-style: solid;
    border-color: grey;

}

#searchBar {
    position: fixed;
}